---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
  <subtitle>{{ site.tagline }}</subtitle>
  <link href="{{ '/feed.xml' | absoluteUrl }}" rel="self"/>
  <link href="{{ '/' | absoluteUrl }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ '/' | absoluteUrl }}</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.url | absoluteUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ post.url | absoluteUrl }}</id>
    <content type="html">{{ post.data.excerpt }}</content>
  </entry>
  {%- endfor %}
</feed>
